{% extends 'base.html.twig' %}

{% set deprecatedElements = project.indexes.elements|filter(element => element.deprecated) %}
{%
    set filesWithDeprecatedElements = deprecatedElements|reduce(
        (unique, item) => item.file.path in unique|keys ? unique : unique|merge({(item.file.path): item.file}), {}
    )
%}

{% block title %}
    {{ project.name }} &raquo; 非推奨要素
{% endblock %}

{% block content %}
    <ul class="phpdocumentor-breadcrumbs">
        <li><a href="{{ path("/") }}">ホーム</a></li>
    </ul>

    <div class="phpdocumentor-row">
        <h2 class="phpdocumentor-content__title">非推奨</h2>

        {% if filesWithDeprecatedElements is not empty %}
        <h3>目次</h3>
        <table class="phpdocumentor-table_of_contents">
            {% for file in filesWithDeprecatedElements %}
                <tr>
                    <td class="phpdocumentor-cell"><a href="{{ target_path }}#{{ file.path }}">{{ file.path }}</a></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% for file in filesWithDeprecatedElements %}
            <a id="{{ file.path }}"></a>
            <h3><abbr title="{{ file.path }}">{{ file.name }}</abbr></h3>
            <table>
                <tr>
                    <th class="phpdocumentor-heading">行</th>
                    <th class="phpdocumentor-heading">要素</th>
                    <th class="phpdocumentor-heading">理由</th>
                </tr>
                {% for element in deprecatedElements|filter(el => el.file == file) %}
                    {% for tag in element.tags.deprecated %}
                        <tr>
                            <td class="phpdocumentor-cell">{{ element.line }}</td>
                            <td class="phpdocumentor-cell">{{ element|route}}</td>
                            <td class="phpdocumentor-cell">{{ tag.description | description | markdown }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <div class="phpdocumentor-admonition phpdocumentor-admonition--success">
                このプロジェクトには非推奨の要素はありません。
            </div>
        {% endfor %}
    </div>
{% endblock %}
