{% extends 'base.html.twig' %}

{% set filesWithMarkers = project.files|filter(file => file.markers is not empty) %}

{% block title %}
    {{ project.name }} &raquo; Markers
{% endblock %}

{% block content %}
    <ul class="phpdocumentor-breadcrumbs">
        <li><a href="{{ path("/index.html") }}">Home</a></li>
    </ul>

    <div class="phpdocumentor-row">
        <h2 class="phpdocumentor-content__title">マーカー</h2>

        {% if filesWithMarkers is not empty %}
            <h3>目次</h3>
            <table class="phpdocumentor-table_of_contents">
                {% for file in filesWithMarkers %}
                    {% if file.markers.count > 0 %}
                        <tr>
                            <td class="phpdocumentor-cell"><a href="#{{ file.path }}">{{ file.path }}</a></td>
                            <td class="phpdocumentor-cell">{{ file.markers.count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <div class="phpdocumentor-admonition phpdocumentor-admonition--success">
                今回のプロジェクトではマーカーは見つかりませんでした。
            </div>
        {% endif %}

        {% for file in filesWithMarkers %}
            <a id="{{ file.path }}"></a>
            <h3><abbr title="{{ file.path }}">{{ file.name }}</abbr></h3>
            <table>
                <thead>
                <tr>
                    <th class="phpdocumentor-heading">種類</th>
                    <th class="phpdocumentor-heading">行</th>
                    <th class="phpdocumentor-heading">説明</th>
                </tr>
                </thead>
                <tbody>
                {% for marker in file.markers %}
                    <tr>
                        <td class="phpdocumentor-cell">{{ marker.type }}</td>
                        <td class="phpdocumentor-cell">{{ marker.line }}</td>
                        <td class="phpdocumentor-cell">{{ marker.message }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
